<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gitlab" value="https://gitlab.dev.ynlxkj.cn/api/v4/projects/4/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="root" />
      <add key="ClearTextPassword" value="uuY5ery8UiTDzuR7yM7x" />
    </gitlab>
  </packageSourceCredentials>
</configuration>
